<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Inicial</title>
        <link rel="shortcut icon" href="#">
        
    </head>
    <body>
        <h1>Página Inicial</h1>        

        <div>
        <a class="dropdown-item" href="/perfil"><i class="ti-user"></i> O meu perfil</a>

        </div>
        <br>

        <form method="get" action="/logout">
            <button type="submit">logout</button>
        </form>
    </body>
    <script src="/front-end/assets/home.js"></script>
</html>
