<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Inicial</title>
        <link rel="shortcut icon" href="#">
        
    </head>

    <body>
        <div class= "row"  >
            <div class="col-md-11" style="padding-left: 90px;">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Os meus dados</h4>
                </div>
                
                <div class="card-body">
                    <div class="row">
                    <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                            <img src="/profile.png" width="5%">
                    </div>
                </div>
                
            </div>
            
            <div class= "col-md-9">
            <div class="row">
                <h6>Nome:</h6> 
                <p id="nome"></p>	
            </div>
            
            <div class="row">
                <h6>Apelido:</h6> 
                <p id="apelido"></p>
            </div>
            <div class="row">
                <h6>Email:</h6> 
                <p id="email"></p>
            </div>
            </div>
            </div>
                </div>
                </div>
            </div>
        </div>
        
        </div>
    </body>

    <script src="/front-end/assets/perfil.js"></script>
    
</html>